{% set thumbnails =
    {
        "audio": "audio",
        "txt": "txt",
        "svg": "svg",
        "video": "video",
    }
%}
{% macro galleryview(photo) %}
<div class="photo_galleryview">
    <div class="photo_galleryview_thumb">
        <a target="_blank" href="/photo/{{photo["id"]}}">
            <img height="150"
        {% if photo["has_thumbnail"] %}
            src="/thumbnail/{{photo["id"]}}.jpg"
        {% else %}
            {% set choice =
                thumbnails.get(photo["extension"],
                thumbnails.get(photo["mimetype"],
                'other'))
            %}
            src="/static/basic_thumbnails/{{choice}}.png"
        {% endif %}
        </a>
    </div>
    <div class="photo_galleryview_info">
        <a target="_blank" href="/photo/{{photo["id"]}}">{{photo["filename"]}}</a>
        <span class="photo_galleryview_file_metadata">
        {% if photo["width"] %}
            {{photo["width"]}}x{{photo["height"]}},
        {% endif %}
        {% if photo["duration"] %}
            {{photo["duration_str"]}},
        {% endif %}
        {{photo["bytestring"]}}
        </span>
        <span class="photo_galleryview_tags">
            {% if photo["tags"] %}
            {% set tags=[] %}
            {% for tag in photo["tags"] %}
            {% do tags.append(tag["name"]) %}
            {% endfor %}
            <span title="{{", ".join(tags)}}">T</span>
            {% endif %}
        </span>
    </div>
</div>
{% endmacro %}