<!DOCTYPE html5>
<html>

<style>
body, a
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
a
{
    width: 50%;
    height: 40px;
    background-color: #ffffd4;
    margin: 8px;
}
</style>

<head>
    <title>Etiquette</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/common.css">
</head>

<body>
    <span>{{motd}}</span>
    <a href="/search">Search</a>
    <a href="/tags">Browse tags</a>
    <a href="/albums">Browse albums</a>
</body>

</html>




<script type="text/javascript">
</script>