#clipboard_tray
{
    display: flex;
    flex-direction: column;

    position: fixed;
    right: 8px;
    bottom: 8px;
    z-index: 10;

    max-height: 50%;
    min-width: 150px;
    padding: 2px;

    background-color: var(--color_site_secondary);
}
#clipboard_tray_expandbutton
{
    flex: 1 0 auto;
    width: 100%;
}
#clipboard_tray_body
{
    width: 300px;
    overflow-y: auto;
}
#clipboard_tray_toolbox
{
    display: flex;
    flex-direction: column;
}
#clipboard_tray_toolbox_firstline
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
