/*
Organization:
{
    own grid area name
    display, flexing, gridding
    positioning and alignment
    bounding box (width, margin, overflow, ...)
    borders and shadows
    backgrounds
    foregrounds
    misc
}
*/
:root
{
    --color_site_theme: #00d8f4;
    --color_site_secondary: #ffffd4;
    --color_site_transparency: rgba(0, 0, 0, 0.1);
    --color_site_dropshadow: rgba(0, 0, 0, 0.25);
    --color_text_normal: black;
    --color_text_link: blue;
    --color_text_placeholder: gray;
    --color_3d_shadow: rgba(0, 0, 0, 0.5);
    --color_3d_highlight: rgba(255, 255, 255, 0.5);
}

html
{
    height: 100vh;
}

body
{
    height: 100%;
    margin: 0;
}

* { color: var(--color_text_normal); }
a { color: var(--color_text_link); }

input::placeholder
{
    color: var(--color_text_placeholder);
    opacity: 1;
}


body
{
    display: grid;
    grid-template:
        "header" auto
        "content_body" 1fr
        /1fr;

    background-color: var(--color_site_theme);
}

#header
{
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr auto;
    grid-template-rows: auto;

    margin: 8px;

    background-color: var(--color_site_transparency);
}
#content_body
{
    grid-area: content_body;
    display: grid;
    grid-auto-rows: min-content;

    margin: 8px;
    margin-top: 0;
}
#header button
{
    border: 0;
    cursor: pointer;
    background-color: transparent;
}
.header_element
{
    display: flex;
    flex: 1;
    justify-content: center;
}
.header_element:hover
{
    background-color: var(--color_site_secondary);
}

pre
{
    white-space: pre-line;
}

.sticky_side_right
{
    position: fixed;
    right: 8px;
    bottom: 8px;
    top: 34px;
    width: 300px;
    overflow-y: auto;
    grid-area: right;
    display: grid;
    background-color: var(--color_site_transparency);
}

.editor_input
{
    width: 100%;
    max-width: 800px;
}

.hidden
{
    display: none !important;
}

button,
button *
{
    color: black;
}
.gray_button
{
    background-color: #cccccc;
}
.green_button
{
    background-color: #6df16f;
}
.red_button
{
    background-color: #ff4949;
}
.yellow_button
{
    background-color: #ffea57;
}

button
{
    border-top: 2px solid var(--color_3d_highlight);
    border-left: 2px solid var(--color_3d_highlight);
    border-right: 2px solid var(--color_3d_shadow);
    border-bottom: 2px solid var(--color_3d_shadow);
}
button:active
{
    border-top: 2px solid var(--color_3d_shadow);
    border-left: 2px solid var(--color_3d_shadow);
    border-right: 2px solid var(--color_3d_highlight);
    border-bottom: 2px solid var(--color_3d_highlight);
}

.remove_tag_button,
.remove_tag_button_perm
{
    /*position: absolute;*/
    top: 3px;
    vertical-align: middle;
    font-size: 7pt;

    min-width:  18px;
    min-height: 14px;
    /*padding: 0;*/

}
/*
The Remove button will be display:none by default, but is shown when the tag
is hovered over.
*/
.remove_tag_button
{
    display: none;
}
.tag_object:hover + * .remove_tag_button,
.tag_object:hover + .remove_tag_button,
.remove_tag_button:hover,
.remove_tag_button_perm:hover
{
    display:inline;
}

.tag_object
{
    border-radius: 2px;
    padding-left: 1px;
    padding-right: 1px;

    background-color: #fff;

    color: blue;
    font-size: 0.9em;
    text-decoration: none;
    font-family: monospace;
    line-height: 1.3;
}
#message_area
{
    display: flex;
    flex: 2;
    flex-direction: column;
    align-items: center;

    overflow-y: auto;

    background-color: var(--color_site_transparency);
}
.message_bubble
{
    width: 80%;
    margin: 4px;

    word-wrap: break-word;
}
.message_positive
{
    background-color: #afa;
}
.message_negative
{
    background-color: #faa;
}
