/*
Organization:
{
    display and flexing
    positioning and alignment
    bounding box (width, margin, overflow, ...)
    borders and shadows
    backgrounds
    foregrounds
    misc
}
*/
:root
{
    --color_site_theme: #00d8f4;
    --color_3d_shadow: rgba(0, 0, 0, 0.5);
    --color_3d_highlight: rgba(255, 255, 255, 0.5);
}
body
{
    display: flex;
    flex-direction: column;

    background-color: var(--color_site_theme);
}
#header
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr auto;
    grid-template-rows: auto;

    margin-bottom: 4px;
}
.header_element
{
    display: flex;
    flex: 1;
    justify-content: center;

    background-color: rgba(0, 0, 0, 0.1);   
}
.header_element:hover
{
    background-color: #ffffd4;
}
.editor_input
{
    width: 100%;
    max-width: 800px;
}
.hidden
{
    display: none !important;
}
#content_body
{
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
}

.green_button
{
    background-color: #6df16f;
}
.red_button
{
    background-color: #ff4949;
}
.yellow_button
{
    background-color: #ffea57;
}

.green_button,
.red_button,
.yellow_button
{
    border-top: 2px solid var(--color_3d_highlight);
    border-left: 2px solid var(--color_3d_highlight);
    border-right: 2px solid var(--color_3d_shadow);
    border-bottom: 2px solid var(--color_3d_shadow);
}
.green_button:active,
.red_button:active,
.yellow_button:active
{
    border-top: 2px solid var(--color_3d_shadow);
    border-left: 2px solid var(--color_3d_shadow);
    border-right: 2px solid var(--color_3d_highlight);
    border-bottom: 2px solid var(--color_3d_highlight);
}

.remove_tag_button,
.remove_tag_button_perm
{
    /*position: absolute;*/
    top: 3px;
    vertical-align: middle;

    width:  18px;
    height: 14px;
    padding: 0;

}
/*
The Remove button will be display:none by default, but is shown when the tag
is hovered over.
*/
.remove_tag_button
{
    display: none;
}
.tag_object:hover + .remove_tag_button,
.remove_tag_button:hover,
.remove_tag_button_perm:hover
{
    display:inline;
}

.tag_object
{
    border-radius: 2px;

    background-color: #fff;

    font-size: 0.9em;
    text-decoration: none;
    font-family: monospace;
    line-height: 1.3;
}
#message_area
{
    display: flex;
    flex: 2;
    flex-direction: column;
    align-items: center;

    overflow-y: auto;

    background-color: rgba(0, 0, 0, 0.1);
}
.message_bubble
{
    width: 80%;
    margin: 4px;

    word-wrap: break-word;
}
.message_positive
{
    background-color: #afa;
}
.message_negative
{
    background-color: #faa;
}
