:root
{
    --color_primary: #222;
    --color_secondary: #3b4d5d;

    --color_text_normal: #efefef;
    --color_text_link: #1edeff;
    --color_text_bubble: black;

    --color_textfields: var(--color_secondary);
    --color_text_placeholder: gray;

    --color_transparency: rgba(255, 255, 255, 0.05);
    --color_dropshadow: rgba(0, 0, 0, 0.25);
    --color_shadow: rgba(0, 0, 0, 0.5);
    --color_highlight: rgba(255, 255, 255, 0.5);

    --color_tag_object_bg: #e6e6e6;
    --color_tag_object_fg: black;
}

button,
button *
{
    color: black;
}
