:root
{
    --color_primary: yellow;
    --color_secondary: red;

    --color_text_normal: black;
    --color_text_link: rebeccapurple;
    --color_text_bubble: black;

    --color_textfields: var(--color_secondary);
    --color_text_placeholder: black;

    --color_transparency: yellow;
    --color_dropshadow: rgba(0, 0, 0, 0.25);
    --color_shadow: rgba(0, 0, 0, 0.5);
    --color_highlight: rgba(255, 255, 255, 0.5);

    --color_tag_card_bg: red;
    --color_tag_card_fg: white;
}

button,
button *
{
    color: black;
}

.panel
{
    border: 1px solid black;
}
