:root
{
    --color_primary: #222;
    --color_secondary: #3b4d5d;
    --color_textfields: var(--color_secondary);
    --color_transparency: rgba(255, 255, 255, 0.05);
    --color_text_normal: #efefef;
    --color_text_link: #1edeff;
    --color_text_bubble: black;

    --color_tag_object_bg: #e6e6e6;
    --color_tag_object_fg: black;
}

button,
button *
{
    color: black;
}
.message_bubble,
.message_bubble *
{
    color: black;
}
