:root
{
    --color_primary: #f6ffff;
    --color_secondary: #aad7ff;
    --color_textfields: white;
    --color_transparency: rgba(0, 0, 0, 0.1);
    --color_text_normal: #000;
    --color_text_link: #00f;
    --color_text_bubble: black;

    --color_tag_object_bg: #fff;
    --color_tag_object_fg: black;
}
