:root
{
    --color_primary: #00d8f4;
    --color_secondary: #ffffd4;

    --color_text_normal: black;
    --color_text_link: blue;
    --color_text_bubble: black;

    --color_textfields: white;
    --color_text_placeholder: gray;

    --color_transparency: rgba(0, 0, 0, 0.1);
    --color_dropshadow: rgba(0, 0, 0, 0.25);
    --color_shadow: rgba(0, 0, 0, 0.5);
    --color_highlight: rgba(255, 255, 255, 0.5);

    --color_tag_object_bg: #fff;
    --color_tag_object_fg: blue;
}
