<!DOCTYPE html>
<html class="theme_{{theme}}">
<head>
    {% import "header.html" as header %}
    <title>Admin control</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="icon" href="/favicon.png" type="image/png"/>
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/etiquette.css">
    <script src="/static/js/common.js"></script>
    <script src="/static/js/api.js"></script>
    <script src="/static/js/http.js"></script>

<style>
table, th, td
{
    border: 1px solid var(--color_text_placeholder);
    border-collapse: collapse
}
th, td
{
    padding: 4px;
}
</style>
</head>


<body>
{{header.make_header(request=request)}}
<div id="content_body">
    <div class="panel">
        <h1>Admin tools</h1>
        <p><a href="/admin/dbdownload">Download database file</a></p>
    </div>
    <div class="panel">
        <h2>Statistics</h2>
        <p><button id="uncache_button" class="red_button" onclick="return uncache_form();">Uncache objects</button></p>
        <table>
            <tr><th></th><th>Stored</th><th>Cached</th></tr>
            <tr><td>Albums</td><td>{{counts.albums}}</td><td>{{cached.albums}}</td></tr>
            <tr><td>Bookmarks</td><td>{{counts.bookmarks}}</td><td>{{cached.bookmarks}}</td></tr>
            <tr><td>Photos</td><td>{{counts.photos}}</td><td>{{cached.photos}}</td></tr>
            <tr><td>Tags</td><td>{{counts.tags}}</td><td>{{cached.tags}}</td></tr>
            <tr><td>Users</td><td>{{counts.users}}</td><td>{{cached.users}}</td></tr>
        </table>
    </div>

    <div class="panel">
        <h2>Users</h2>
        <table id="users_table">
            <thead>
                <tr>
                    <td>ID</td>
                    <td>Name</td>
                    <td>Username</td>
                </tr>
            </thead>
            {% for user in users %}
            <tr>
                <td><code>{{user.id}}</code></td>
                <td><a href="/userid/{{user.id}}">{{user.display_name}}</a></td>
                <td>{{user.username}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <div class="panel">
        <h2>Config</h2>
        <p><button id="reload_config_button" class="green_button" onclick="return reload_config_form();">Reload config file</button></p>
        <pre style="white-space:break-spaces;">{{etq_config}}</pre>
        <pre style="white-space:break-spaces;">{{server_config}}</pre>
    </div>

    <div class="panel">
        <h2>Sessions</h2>
        <p><button id="clear_sessions_button" class="red_button" onclick="return clear_sessions_form();">Clear login sessions</button></p>
        <table id="sessions_table">
            <thead>
                <tr>
                    <td>Token</td>
                    <td>IP</td>
                    <td>User</td>
                    <td>Last activity</td>
                    <td>Remove</td>
                </tr>
            </thead>
            <tbody>
            {% for (token, session) in sessions %}
            <tr>
                <td class="session_token"><code>{{token}}</code></td>
                <td class="session_ip"><code>{{session.ip_address}}</code></td>
                <td>{% if session.user %}{{session.user.display_name}}{% else %}<i>anonymous</i>{%endif%}</td>
                <td><time>{{session.last_activity|timestamp_to_8601}}</time></td>
                <td><button class="red_button" onclick="return remove_session_form(event);">x</button></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</body>


<script type="text/javascript">
function clear_sessions_form()
{
    const reload_config_button = document.getElementById("clear_sessions_button");
    clear_sessions_button.disabled = true;
    function callback(response)
    {
        clear_sessions_button.disabled = false;
        if (response.meta.status !== 200)
        {
            alert(JSON.stringify(response));
        }
        common.delete_all_children(document.querySelector("#sessions_table tbody"));
    }
    return api.admin.clear_sessions(callback);
}

function reload_config_form()
{
    const reload_config_button = document.getElementById("reload_config_button");
    reload_config_button.disabled = true;
    function callback(response)
    {
        reload_config_button.disabled = false;
        if (response.meta.status !== 200)
        {
            alert(JSON.stringify(response));
        }
    }
    return api.admin.reload_config(callback);
}

function remove_session_form(event)
{
    const button = event.target;
    const row = button.closest("tr");
    const token = row.querySelector(".session_token").innerText;
    function callback(response)
    {
        if (response.meta.status !== 200)
        {
            alert(JSON.stringify(response));
        }
        row.parentElement.removeChild(row);
    }
    return api.admin.remove_session(token, callback);
}

function uncache_form()
{
    const uncache_button = document.getElementById("uncache_button");
    uncache_button.disabled = true;
    function callback(response)
    {
        uncache_button.disabled = false;
        if (response.meta.status !== 200)
        {
            alert(JSON.stringify(response));
        }
    }
    return api.admin.uncache(callback);
}
</script>
</html>
