<!DOCTYPE html5>
<html>
<head>
    {% import "header.html" as header %}
    <title>Albums</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/static/css/common.css">
    <script src="/static/js/common.js"></script>

<style>
#content_body
{
    flex-direction: column;
}
</style>
</head>


<body>
{{header.make_header(session=session)}}
<div id="content_body">
    <h2>Albums</h2>
    <ul>
        {% for album in albums %}
        <li><a href="/album/{{album.id}}">{{album.display_name}}</a></li>
        {% endfor %}
        <li><button class="green_button" onclick="create_album_and_follow();">Create album</button></li>
    </ul>
</div>
</body>


<script type="text/javascript">
</script>
</html>
