{% macro create_bookmark_card(bookmark, add_delete_button=False) %}
<div class="bookmark_card" data-id="{{bookmark.id}}">
    <a href="{{bookmark.url}}" class="bookmark_title">{{bookmark.display_name}}</a>

    <a href="{{bookmark.url}}" class="bookmark_url">{{bookmark.url}}</a>

    <div class="bookmark_toolbox">
        {% if add_delete_button %}
        <button
        class="red_button button_with_confirm"
        data-onclick="return delete_bookmark_form(event);"
        data-prompt="Delete Bookmark?"
        data-cancel-class="gray_button"
        >
            Delete
        </button>
        {% endif %}
    </div>
</div>
{% endmacro %}
