{% macro clipboard_tray() %}
<div id="clipboard_tray">
    <button
    id="clipboard_tray_expandbutton"
    class="yellow_button"
    onclick="clipboard_tray_collapse_toggle()"
    >Clipboard: <span class="clipboard_count">0</span> items</button>
    <div id="clipboard_tray_body" class="hidden">
        <div id="clipboard_tray_toolbox">
            <a target="_blank" href="/clipboard">Full clipboard</a>
        </div>
        <div id="clipboard_tray_lines">
        </div>
    </div>
</div>
{% endmacro %}
