{% macro clipboard_tray() %}
<div id="clipboard_tray">
    <button
    id="clipboard_tray_expandbutton"
    class="yellow_button"
    onclick="return photo_clipboard.clipboard_tray_collapse_toggle();"
    >Clipboard: <span class="clipboard_count">0</span> items</button>
    <div id="clipboard_tray_body" class="hidden">
        <div id="clipboard_tray_toolbox">
            <span id="clipboard_tray_toolbox_firstline">
                <a target="_blank" href="/clipboard">Full clipboard</a>
                <button id="clear_clipboard_button" class="red_button" onclick="return photo_clipboard.clear_clipboard();">Clear</button>
            </span>
            <!--
            If the page contains a div with the class `my_clipboard_tray_toolbox`,
            the children of that div will be appended here.
            -->
        </div>
        <div id="clipboard_tray_lines">
        </div>
    </div>
</div>
{% endmacro %}
