<!DOCTYPE html5>
<html>
<head>
    <title>Etiquette</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/etiquette.css">
    {% if theme %}<link rel="stylesheet" href="/static/css/theme_{{theme}}.css">{% endif %}
    <script src="/static/js/common.js"></script>
    <script src="/static/js/api.js"></script>

<style>
body
{
    height: 100%;
    margin: 0;
}
body, .nice_link
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.nice_link, .plain_link
{
    margin: 8px;
}
.nice_link
{
    width: 50%;
    height: 40px;
    background-color: var(--color_transparency);
}
.nice_link:hover
{
    background-color: var(--color_secondary);
}
#motd
{
    width: 50%;
    text-align: center;
}
</style>
</head>

<body>
    <span id="motd">{{motd}}</span>
    <a class="nice_link" href="/search">Search</a>
    <a class="nice_link" href="/tags">Browse tags</a>
    <a class="nice_link" href="/albums">Browse albums</a>
    <a class="nice_link" href="/bookmarks">Bookmarks</a>
    {% if session.user %}
    <a class="nice_link" href="/user/{{session.user.username}}">{{session.user.display_name}}</a>
    {% else %}
    <a class="nice_link" href="/login">Log in</a>
    {% endif %}
    <a class="plain_link" href="http://www.github.com/voussoir/etiquette">GitHub</a>
</body>

<script type="text/javascript">
</script>
</html>
