<!DOCTYPE html5>
<html>
<head>
    <title>Etiquette</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/common.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

<style>
body, .nice_link
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.nice_link, .plain_link
{
    height: 40px;
    margin: 8px;
}
.nice_link
{
    width: 50%;
    background-color: rgba(0, 0, 0, 0.1);
}
.nice_link:hover
{
    background-color: #ffffd4;
}
</style>
</head>


<body>
    <span>{{motd}}</span>
    <a class="nice_link" href="/search">Search</a>
    <a class="nice_link" href="/tags">Browse tags</a>
    <a class="nice_link" href="/albums">Browse albums</a>
    <a class="nice_link" href="/bookmarks">Bookmarks</a>
    {% if session.user %}
    <a class="nice_link" href="/user/{{session.user.username}}">{{session.user.username}}</a>
    {% else %}
    <a class="nice_link" href="/login">Log in</a>
    {% endif %}
    <a class="plain_link" href="http://www.github.com/voussoir/etiquette">GitHub</a>
</body>


<script type="text/javascript">
</script>
</html>
