<!DOCTYPE html5>
<html>
<head>
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/etiquette.css">
    <link rel="stylesheet" href="/static/css/cards.css">
    {% if theme %}<link rel="stylesheet" href="/static/css/theme_{{theme}}.css">{% endif %}

<style>
body
{
    background-color: initial;
}
</style>
</head>

<body>
    <div>
    {% import "cards.html" as cards %}
    {% for result in results %}
        {% if result.__class__.__name__ == 'Photo' %}
        {{cards.create_photo_card(result, view=search_kwargs["view"])}}
        {% elif result.__class__.__name__ == 'Album' %}
        {{cards.create_album_card(result, view=search_kwargs["view"])}}
        {% endif %}
    {% endfor %}
    </div>
</body>

</html>
