<!--
    tag: The Tag object
    extra_classes:
        Space-separated string, if you want more than "tag_object".
    innertext:
        A string to use as the innertext.
        Otherwise, will use the name based on the other parameters.
    link:
        None = no link, just a <span>
        'search' = link to /search?tag_musts=tagname
        'info' = link to /tags/tagname
        'void' = javascript:void(0)
    with_alt_description:
        True: Include the description in the alt text
-->
{% macro tag_object(
    tag,
    extra_classes="",
    innertext=None,
    link='search',
    with_alt_description=False
) -%}

{%- if link is not none -%}
    {%- set closing="</a>" -%}
    <a
    {%- if link == 'search' -%}
        {{' '}}href="/search?tag_musts={{tag.name}}"
    {%- elif link == 'info' -%}
        {{' '}}href="/tag/{{tag.name}}"
    {%- elif link == 'void' -%}
        {{' '}}href="javascript:void(0)"
    {%- else -%}
        {{' '}}href="{{search}}"
    {%- endif -%}
{%- else -%}
    {% set closing="</span>" %}
    <span
{%- endif -%}

{{' '}}class="tag_object {{extra_classes}}"

{%- set altlines=[] -%}
{% if with_alt_description and tag.description != "" %}{% do altlines.append(tag.description) %}{% endif %}
{% set altlines=altlines|join("\n") %}
{%- if altlines -%}
    {{' '}}title="{{altlines}}"
{%- endif -%}
>
{%- if innertext is not none -%}
    {{innertext}}
{%- else -%}
    {{tag.name}}
{%- endif %}

{{- closing|safe -}}
{% endmacro %}
