<!DOCTYPE html5>
<html>
<head>
    {% import "header.html" as header %}
    {% import "tag_object.html" as tag_object %}
    {% if specific_tag is none %}
        <title>Tags</title>
    {% else %}
        <title>{{specific_tag.name}} | Tags</title>
    {% endif %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/etiquette.css">
    {% if theme %}<link rel="stylesheet" href="/static/css/theme_{{theme}}.css">{% endif %}
    <script src="/static/js/common.js"></script>
    <script src="/static/js/api.js"></script>
    <script src="/static/js/editor.js"></script>
    <script src="/static/js/spinner.js"></script>
    <script src="/static/js/tag_autocomplete.js"></script>

<style>
h2, h3
{
    margin-top: 0;
}
#left
{
    display: grid;
    grid-row-gap: 30px;
    grid-auto-rows: max-content;
}
#left > *
{
    background-color: var(--color_transparency);
    padding: 8px;
    border-radius: 5px;
}
#tag_metadata h2 .editor_input
{
    font-size: inherit;
    font-weight: inherit;
}
#description_text
{
    font-family: initial;
    padding: 8px;
}
#tag_list
{
    word-break: break-word;
}
#right
{
    grid-template:
        "editor_area" 1fr
        "message_area" 1fr;
}
#editor_area
{
    grid-area: editor_area;
    margin: auto;
}
#message_area
{
    grid-area: message_area;
}
@media screen and (max-width: 800px)
{
    #content_body
    {
        grid-template:
            "left" 1fr
            "right" 150px
            / 1fr !important;
    }
    #right
    {
        top: unset !important;
        width: unset !important;
        left: 8px;
        right: 8px;
        bottom: 8px;
        height: 150px;

        grid-template:
            "editor_area message_area" 1fr
            /1fr         minmax(50px, 200px);
    }
}
</style>
</head>


<body>
{{header.make_header(session=session)}}
<div id="content_body" class="sticky_side_right">
    <div id="right">
        <div id="editor_area">
            <input type="text" id="add_tag_textbox" class="entry_with_history entry_with_tagname_replacements" autofocus>
            <button class="add_tag_button green_button" id="add_tag_button" onclick="return easybake_form();">bake</button>
        </div>
        <div id="message_area">
        </div>
    </div>
    <div id="left">
        {% if specific_tag %}
        {% do tags.remove((specific_tag.name, specific_tag)) %}
        <div id="hierarchy_self">
            <div id="tag_metadata">
                <h2><a
                    href="/search?tag_musts={{specific_tag.name}}"
                    id="name_text"
                    class="tag_object"
                    data-editor-id="name"
                    data-editor-placeholder="name"
                    >
                        {{-specific_tag.name-}}
                </a></h2>

                <pre
                id="description_text"
                data-editor-id="description"
                data-editor-placeholder="description"
                {% if specific_tag.description == "" %}class="hidden"{% endif -%}
                >
                    {{-specific_tag.description-}}
                </pre>
            </div>
            <button class="green_button editor_toolbox_placeholder">Edit</button>

            <button
            class="red_button button_with_confirm"
            data-onclick="return delete_specific_tag_form(event);"
            data-prompt="Delete Tag?"
            data-confirm="Delete"
            data-cancel-class="gray_button"
            >
            Delete
            </button>

        </div>

        {% set parents = specific_tag.get_parents() %}
        {% if parents %}
        <div id="hierarchy_parents">
            <h3>{{parents|length}} Parents</h3>
            <ul id="parent_list">
            {% for ancestor in specific_tag.get_parents() %}
            <li>
                {{tag_object.tag_object(ancestor, link="search_musts", innertext="(+)")}}
                {{tag_object.tag_object(ancestor, link="search_forbids", innertext="(x)")}}
                {{tag_object.tag_object(ancestor, link="info", innertext=ancestor.name, with_alt_description=True)}}
            </li>
            {% endfor %}
            </ul>
        </div>
        {% endif %} <!-- if parents -->
        {% endif %} <!-- if specific tag -->

        {% if tags or not specific_tag %}
        <div id="hierarchy_tags">
            {% if specific_tag %}
            <h3>{{tag_count}} Descendants</h3>
            {% else %}
            <h2>{{tag_count}} Tags</h2>
            {% endif %}
            <ul id="tag_list">
            {% for (qualified_name, tag) in tags %}
                <li>
                    {{tag_object.tag_object(tag, link="search_musts", innertext="(+)")}}
                    {{tag_object.tag_object(tag, link="search_forbids", innertext="(x)")}}
                    {{tag_object.tag_object(tag, link="info", innertext=qualified_name, with_alt_description=True)-}}
                    <button
                    class="remove_tag_button red_button button_with_confirm"
                    data-holder-class="confirm_holder_delete_tag{{' hidden' if tag.name!=qualified_name else ''}}"
                    data-onclick="return delete_tag_form(event);"
                    data-prompt="Delete Tag?"
                    data-confirm="Delete"
                    data-confirm-class="remove_tag_button_perm red_button"
                    data-cancel-class="remove_tag_button_perm gray_button"
                    >Delete</button>
                    {{-''-}}
                    <button
                    class="remove_tag_button red_button button_with_confirm"
                    data-holder-class="confirm_holder_remove_child{{' hidden' if tag.name==qualified_name else ''}}"
                    data-onclick="return remove_child_form(event);"
                    data-prompt="Unlink Tags?"
                    data-confirm="Unlink"
                    data-confirm-class="remove_tag_button_perm red_button"
                    data-cancel-class="remove_tag_button_perm gray_button"
                    >Unlink</button>

                </li>

                {% if include_synonyms %}
                {% for synonym in tag.get_synonyms()|sort %}
                <li>
                    {{-tag_object.tag_object(tag, link="search_musts", innertext="(+)")}}
                    {{tag_object.tag_object(tag, link="search_forbids", innertext="(x)")}}
                    {{tag_object.tag_object(tag, link='info', innertext=qualified_name + '+' + synonym)-}}
                    <button
                    class="remove_tag_button red_button button_with_confirm"
                    data-holder-class="confirm_holder_remove_synonym"
                    data-onclick="return remove_synonym_form(event);"
                    data-prompt="Remove Synonym?"
                    data-confirm="Remove"
                    data-confirm-class="remove_tag_button_perm red_button"
                    data-cancel-class="remove_tag_button_perm gray_button"
                    >Remove</button>
                </li>
                {% endfor %}
                {% endif %}
            {% endfor %}
            </ul>
        </div> <!-- hierarchy_tags -->
        {% endif %} <!-- if tags or not specific tag -->

        {% if specific_tag and include_synonyms %}
        {% set synonyms = specific_tag.get_synonyms() %}
        {% if synonyms %}
        <div id="hierarchy_synonyms">
            <h3>{{synonyms|length}} Synonyms</h3>
            <ul>
            {% for synonym in synonyms %}
            <li>
                {{tag_object.tag_object(specific_tag, link="search_musts", innertext="(+)")}}

                {{tag_object.tag_object(specific_tag, link="search_forbids", innertext="(x)")}}

                {{tag_object.tag_object(specific_tag, link=none, innertext=synonym)-}}
                <button
                class="remove_tag_button red_button button_with_confirm"
                data-onclick="return remove_specific_synonym_form(event);"
                data-prompt="Remove Synonym?"
                data-confirm="Remove"
                data-confirm-class="remove_tag_button_perm red_button"
                data-cancel-class="remove_tag_button_perm gray_button"
                >
                Remove
                </button>
            </li>
            {% endfor %}
            </ul>
        </div>
        {% endif %} <!-- if synonyms -->
        {% endif %} <!-- if specific tag and include synonyms -->
    </div>
</div>
</body>


<script type="text/javascript">
let SPECIFIC_TAG = "{{specific_tag.name}}";

var add_tag_textbox = document.getElementById('add_tag_textbox');
var add_tag_button = document.getElementById('add_tag_button');
var message_area = document.getElementById('message_area');
common.bind_box_to_button(add_tag_textbox, add_tag_button, false);

TEMPLATE_BUTTON_DELETE_TAG = `<button
class="remove_tag_button red_button button_with_confirm"
data-holder-class="confirm_holder_delete_tag hidden"
data-onclick="return delete_tag_form(event);"
data-prompt="Delete Tag?"
data-confirm="Delete"
data-confirm-class="remove_tag_button_perm red_button"
data-cancel-class="remove_tag_button_perm gray_button"
>Delete</button>`;

TEMPLATE_BUTTON_REMOVE_CHILD = `<button
class="remove_tag_button red_button button_with_confirm"
data-holder-class="confirm_holder_remove_child hidden"
data-onclick="return remove_child_form(event);"
data-prompt="Unlink Tags?"
data-confirm="Unlink"
data-confirm-class="remove_tag_button_perm red_button"
data-cancel-class="remove_tag_button_perm gray_button"
>Unlink</button>`;

TEMPLATE_BUTTON_REMOVE_SYNONYM = `<button
class="remove_tag_button red_button button_with_confirm"
data-holder-class="confirm_holder_remove_synonym"
data-onclick="return remove_synonym_form(event);"
data-prompt="Remove Synonym?"
data-confirm="Remove"
data-confirm-class="remove_tag_button_perm red_button"
data-cancel-class="remove_tag_button_perm gray_button"
>Remove</button>`;

TEMPLATE_TAG_LI = `<li><a class="tag_object" href="/search?tag_musts={tag_name}">(+)</a>
<a class="tag_object" href="/search?tag_forbids={tag_name}">(x)</a>
<a class="tag_object" href="/tag/{tag_name}">{tag_name}</a></li>`;

function get_all_tag_objects()
{ return Array.from(document.querySelectorAll(".tag_object[href^='/tag/']")); }

function get_tag_objects_for_descendant(tag_name, child_name)
{ return get_tag_objects_matching(`(^|\\.)${re_escape(tag_name)}\\.${re_escape(child_name)}($|\\.|\\+)`); }

function get_tag_objects_for_descendants(tag_name)
{ return get_tag_objects_matching(`(^|\\.)${re_escape(tag_name)}\\.`); }

function get_tag_objects_for_synonym(synonym)
{ return get_tag_objects_matching(`\\+${re_escape(synonym)}$`); }

function get_tag_objects_for_non_root_tag(tag_name)
{ return get_tag_objects_matching(`\\.${re_escape(tag_name)}($|\\+)`); }

function get_tag_objects_for_non_root_tag_and_descendants(tag_name)
{ return get_tag_objects_matching(`\\.${re_escape(tag_name)}($|\\.|\\+)`); }

function get_tag_objects_for_root_tag(tag_name)
{ return get_tag_objects_matching(`^${re_escape(tag_name)}($|\\+)`); }

function get_tag_objects_for_root_tag_and_descendants(tag_name)
{ return get_tag_objects_matching(`^${re_escape(tag_name)}($|\\.|\\+)`); }

function get_tag_objects_for_tag(tag_name)
{ return get_tag_objects_matching(`(^|\\.)${re_escape(tag_name)}$`); }

function get_tag_objects_for_tag_and_descendants(tag_name)
{ return get_tag_objects_matching(`(^|\\.)${re_escape(tag_name)}($|\\.|\\+)`); }

function get_tag_objects_for_tag_and_synonyms(tag_name)
{ return get_tag_objects_matching(`(^|\\.)${re_escape(tag_name)}($|\\+)`); }

function get_tag_objects_matching(regex)
{
    regex = new RegExp(regex);
    const ret = get_all_tag_objects().filter(tag_object => tag_object.innerText.match(regex));
    return ret;
}

function split_exclusive(text, tag_name)
{
    /*
    Given text="a.b.c.d.e", tag_name"c", return "d.e".
    */
    const regex = `(?:^|\\.)${re_escape(tag_name)}(?:$|\\.)`;
    const splitted = text.split(new RegExp(regex));
    if (splitted.length == 1)
        { return null; }
    const descendantry = splitted.pop();
    return descendantry;
}

function split_inclusive(text, tag_name)
{
    /*
    Given text="a.b.c.d.e", tag_name"c", return "c.d.e".
    */
    const descendantry = split_exclusive(text, tag_name);
    if (descendantry === null)
        { return null; }
    if (descendantry === "")
        { return tag_name; }
    return tag_name + "." + descendantry;
}

function tag_object_from_li(li)
{
    const tag_objects = li.getElementsByClassName("tag_object");
    return tag_objects[tag_objects.length - 1];
}

function lift_tag_object(tag_object, from_parent)
{
    const descendantry = split_exclusive(tag_object.innerText, from_parent);
    const regex = `(^|\\.)${re_escape(from_parent)}\\.`;
    tag_object.innerText = tag_object.innerText.replace(new RegExp(regex), "$1");
    const is_now_root = tag_object.innerText.indexOf(descendantry) == 0;
    if (! is_now_root)
    {
        return;
    }
    const other_parents = get_tag_objects_matching(`\\.${re_escape(descendantry)}$`)
    if (other_parents.length == 0)
    {
        return;
    }
    const li = tag_object.closest("li");
    li.parentElement.removeChild(li);
}

function re_escape(s)
{
    // Thank you Pi Marillion.
    // https://stackoverflow.com/a/30851002
    return s.replace(/[^A-Za-z0-9_]/g, '\\$&');
}


// FORM FUNCTIONS //////////////////////////////////////////////////////////////

function easybake_form()
{
    const easybake_string = add_tag_textbox.value;
    if (easybake_string === "")
    {
        add_tag_textbox.focus();
        return;
    }
    api.tags.easybake(easybake_string, tag_action_callback);
    add_tag_textbox.value = "";
}

function delete_specific_tag_form(event)
{
    const delete_button = event.target;
    const hierarchy_self = delete_button.closest("#hierarchy_self");
    const tag_object = tag_object_from_li(hierarchy_self);
    const tag_name = tag_object.innerText;
    return api.tags.delete(tag_name, api.tags.callback_go_to_tags);
}

function delete_tag_form(event)
{
    const delete_button = event.target;
    const li = delete_button.closest("li");
    const tag_object = tag_object_from_li(li);
    const tag_name = tag_object.innerText.split(".").pop();
    return api.tags.delete(tag_name, tag_action_callback);
}

function remove_child_form(event)
{
    const delete_button = event.target;
    const li = delete_button.closest("li");
    const tag_object = tag_object_from_li(li);
    const parts = tag_object.innerText.split(".");
    const tag_name = parts.pop();
    const parent_name = parts.pop();
    return api.tags.remove_child(parent_name, tag_name, tag_action_callback);
}

function remove_specific_synonym_form(event)
{
    const delete_button = event.target;
    const li = delete_button.closest("li");
    const tag_object = tag_object_from_li(li);
    const synonym = tag_object.innerText;
    return api.tags.remove_synonym(SPECIFIC_TAG, synonym, tag_action_callback);
}

function remove_synonym_form(event)
{
    const delete_button = event.target;
    const li = delete_button.closest("li");
    const tag_object = tag_object_from_li(li);
    const parts = tag_object.innerText.split(".").pop().split("+");
    const synonym = parts.pop();
    const tag_name = parts.pop();
    return api.tags.remove_synonym(tag_name, synonym, tag_action_callback);
}

// CALLBACKS ///////////////////////////////////////////////////////////////////

function easybake_callback(response)
{
    tag_action_callback(response);
    if (response.meta.status !== 200)
        {return;}
    for (const data of response.data)
    {
        if (!("action" in data))
            {continue;}
        const action = data.action;
        if (action == "new_tag")
        {
            const tag_name = data.tagname;
            new_tag(tag_name);
        }
        else if (action == "new_synonym")
        {
            const [tag_name, synonym] = data.tagname.split("+");
            new_synonym(tag_name, synonym);
        }
        else if (action == "join_group")
        {
            const [parent_name, child_name] = data.tagname.split(".");
            join_group(parent_name, child_name);
        }
        else if (action == "rename_tag")
        {
            const [rename_from, rename_to] = data.tagname.split("=");
            rename_tag(rename_from, rename_to);
        }
    }
}

function delete_tag_callback(response)
{
    tag_action_callback(response);
    if (response.meta.status !== 200)
        {return;}
    const tag_name = response.data.tagname;
    delete_tag(tag_name);
}

function remove_child_callback(response)
{
    tag_action_callback(response);
    if (response.meta.status !== 200)
        {return;}
    const [parent_name, tag_name] = response.data.tagname.split(".");
    remove_child(parent_name, tag_name);
}

function remove_synonym_callback(response)
{
    tag_action_callback(response);
    if (response.meta.status !== 200)
        {return;}

    const synonym = response.data.synonym;
    remove_synonym(synonym);
}

function tag_action_callback(response)
{
    let datas = response.data;
    if (!Array.isArray(datas))
    {
        datas = [datas];
    }
    for (const data of datas)
    {
        const tagname = data.tagname;
        let message_positivity;
        let message_text;
        if ("error_type" in data)
        {
            message_positivity = "message_negative";
            message_text = data.error_message;
        }
        else if ("action" in data)
        {
            const action = data.action;
            message_positivity = "message_positive";
            if (action == "new_tag")
            {message_text = `Created tag ${tagname}`;}

            else if (action == "new_synonym")
            {message_text = `New synonym ${tagname}`;}

            else if (action == "existing_tag")
            {message_text = `Existing tag ${tagname}`;}

            else if (action == "join_group")
            {message_text = `Grouped ${tagname}`;}

            else if (action == "rename_tag")
            {message_text = `Renamed ${tagname}`;}

            else if (action == "delete_tag")
            {message_text = `Deleted tag ${tagname}`;}

            else if (action == "delete_synonym")
            {message_text = `Deleted synonym ${data.synonym}`;}

            else if (action == "remove_child")
            {message_text = `Unlinked tags ${tagname}`;}
        }
        common.create_message_bubble(message_area, message_positivity, message_text, 8000);
    }
}

// UI UPDATERS /////////////////////////////////////////////////////////////////

function new_tag(tag_name)
{
    const template = TEMPLATE_TAG_LI.replace(/\{tag_name\}/g, tag_name);
    const new_li = common.html_to_element(template);
    add_buttons_to_li(new_li);
    document.getElementById("tag_list").appendChild(new_li);
    sort_tag_objects();
}

function new_synonym(tag_name, synonym)
{
    for (const tag_object of get_tag_objects_for_tag(tag_name))
    {
        const li = tag_object.closest("li");
        const new_li = li.cloneNode(true);
        tag_object_from_li(new_li).innerText += `+${synonym}`;
        li.parentElement.appendChild(new_li);
        add_buttons_to_li(new_li);
    }
    sort_tag_objects();
}

function join_group(parent_name, child_name)
{
    console.log(parent_name + " " + SPECIFIC_TAG);
    if (parent_name === SPECIFIC_TAG)
    {
        console.log("GO!");
        return new_tag(`${parent_name}.${child_name}`);
    }
    const parent_tags = get_tag_objects_for_tag(parent_name);
    const seen_names = new Set();
    for (child_tag of get_tag_objects_for_tag_and_descendants(child_name))
    {
        const descendantry = split_inclusive(child_tag.innerText, child_name);
        if (seen_names.has(descendantry))
            { break; }
        seen_names.add(descendantry);
        const child_li = child_tag.closest("li");
        for (const parent_tag of parent_tags)
        {
            const parent_li = parent_tag.closest("li");
            const new_li = child_li.cloneNode(true);
            tag_object_from_li(new_li).innerText = parent_tag.innerText + "." + descendantry;
            parent_li.parentElement.appendChild(new_li);
            add_buttons_to_li(new_li);
        }
    }

    for (const tag_object of get_tag_objects_for_root_tag_and_descendants(child_name))
    {
        const li = tag_object.closest("li");
        li.parentElement.removeChild(li);
    }
    sort_tag_objects();
}

function rename_tag(rename_from, rename_to)
{
    if (rename_from == rename_to)
        { return; }
    for (const tag_object of get_all_tag_objects())
    {
        tag_object.innerText = tag_object.innerText.replace(new RegExp(`(^|\\.)${re_escape(rename_from)}($|\\.|\\+)`), `$1${rename_to}$2`);
    }
    sort_tag_objects();
}

function delete_tag(tag_name)
{
    const tag_objects = get_tag_objects_for_tag_and_synonyms(tag_name);
    for (const tag_object of tag_objects)
    {
        const li = tag_object.closest("li");
        li.parentElement.removeChild(li);
    }
    const child_tags = get_tag_objects_for_descendants(tag_name);
    for (const child_tag of child_tags)
    {
        lift_tag_object(child_tag, tag_name);
    }
    update_all_li_buttons();
    sort_tag_objects();
}

function remove_child(parent_name, child_name)
{
    const tag_objects = get_tag_objects_for_descendant(parent_name, child_name);
    const seen_names = new Set();
    for (const tag_object of tag_objects)
    {
        const descendantry = split_exclusive(tag_object.innerText, parent_name);
        if (descendantry === null)
        {
            continue;
        }
        const tag_li = tag_object.closest("li");
        if (seen_names.has(descendantry))
        {
            tag_li.parentElement.removeChild(tag_li);
            continue;
        }
        tag_object.innerText = descendantry;
        update_li_buttons(tag_li);
        seen_names.add(descendantry);
    }

    const child_as_root = get_tag_objects_for_root_tag_and_descendants(child_name);
    const child_as_non_root = get_tag_objects_for_non_root_tag(child_name)
    if (child_as_non_root.length > 0)
    {
        for (const tag_object of child_as_root)
        {
            const tag_li = tag_object.closest("li");
            tag_li.parentElement.removeChild(tag_li);
        }
    }
    sort_tag_objects();
}

function remove_synonym(synonym)
{
    for (const tag_object of get_tag_objects_for_synonym(synonym))
    {
        const li = tag_object.closest("li");
        li.parentElement.removeChild(li);
    }
}

function add_buttons_to_li(li)
{
    for (const existing of Array.from(li.getElementsByClassName("confirm_holder")))
    {
        li.removeChild(existing);
    }
    li.appendChild(common.html_to_element(TEMPLATE_BUTTON_DELETE_TAG));
    li.appendChild(common.html_to_element(TEMPLATE_BUTTON_REMOVE_CHILD));
    li.appendChild(common.html_to_element(TEMPLATE_BUTTON_REMOVE_SYNONYM));
    for (const button of Array.from(li.getElementsByClassName("button_with_confirm")))
    {
        common.init_button_with_confirm(button);
    }
    update_li_buttons(li);
}

function add_buttons_to_all_lis()
{
    const lis = document.getElementById("tag_list").children;
    for (const li of lis)
    {
        add_buttons_to_li(li);
    }
}

function update_li_buttons(li)
{
    const tag_object = tag_object_from_li(li);
    const delete_button = li.querySelector(".confirm_holder_delete_tag");
    const unlink_button = li.querySelector(".confirm_holder_remove_child");
    const synonym_button = li.querySelector(".confirm_holder_remove_synonym");
    if (tag_object.innerText.includes("+"))
    {
        synonym_button.classList.remove("hidden");
        delete_button.classList.add("hidden");
        unlink_button.classList.add("hidden");
    }
    else if (tag_object.innerText.includes("."))
    {
        unlink_button.classList.remove("hidden");
        delete_button.classList.add("hidden");
        synonym_button.classList.add("hidden");
    }
    else
    {
        delete_button.classList.remove("hidden");
        unlink_button.classList.add("hidden");
        synonym_button.classList.add("hidden");
    }
}

function update_all_li_buttons()
{
    const lis = document.getElementById("tag_list").children;
    for (const li of lis)
    {
        update_li_buttons(li);
    }
}

function sort_tag_objects()
{
    const start = performance.now();
    function compare(li1, li2)
    {
        const tag1 = tag_object_from_li(li1).innerText;
        const tag2 = tag_object_from_li(li2).innerText;
        return tag1 < tag2 ? -1 : 1;
    }
    const tag_list = document.getElementById("tag_list");
    const lis = Array.from(tag_list.children);
    lis.sort(compare);
    for (const li of lis)
    {
        tag_list.appendChild(li);
    }
    const end = performance.now();
}

{% if specific_tag is not none %}
function on_open(ed, edit_element_map)
{
    ed.open();
    edit_element_map["name"].focus();
}

function on_save(ed, edit_element_map, display_element_map)
{
    function callback(response)
    {
        console.log(response);
        ed.hide_spinner();
        if (response.meta.status == 200)
        {
            let new_name = response.data.name;
            let new_description = response.data.description;
            document.title = new_name + " | Tags";
            SPECIFIC_TAG = new_name;
            window.history.replaceState(null, null, "/tag/" + new_name);
            name_editor.value = new_name;
            name_display.href = "/search?tag_musts=" + new_name;
            description_editor.value = new_description;
            ed.save();
            if (new_description === "")
            {
                description_display.classList.add("hidden");
            }
        }
    }

    let name_display = display_element_map["name"];
    let name_editor = edit_element_map["name"];
    let description_display = display_element_map["description"];
    let description_editor = edit_element_map["description"];

    let tag_name = name_display.innerText;
    let name = name_editor.value;
    let description = description_editor.value;

    ed.show_spinner();
    api.tags.edit(tag_name, name, description, callback)
}

function on_cancel(ed, edit_element_map, display_element_map)
{
    ed.cancel();
    if (display_element_map["description"].innerText == "")
    {
        display_element_map["description"].classList.add("hidden");
    }
}

var name_text = document.getElementById("name_text");
var description_text = document.getElementById("description_text");
var ed = new editor.Editor([name_text, description_text], on_open, on_save, on_cancel);
{% endif %}

function on_pageload()
{
    // window.setTimeout(add_buttons_to_all_lis, 0);
}
document.addEventListener("DOMContentLoaded", on_pageload);
</script>
</html>
