<!DOCTYPE html5>
<html>
<head>
    {% import "header.html" as header %}
    {% import "tag_object.html" as tag_object %}
    {% if specific_tag is none %}
        <title>Tags</title>
    {% else %}
        <title>{{specific_tag.name}} | Tags</title>
    {% endif %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/etiquette.css">
    {% if theme %}<link rel="stylesheet" href="/static/css/theme_{{theme}}.css">{% endif %}
    <script src="/static/js/common.js"></script>
    <script src="/static/js/api.js"></script>
    <script src="/static/js/editor.js"></script>
    <script src="/static/js/spinner.js"></script>
    <script src="/static/js/tag_autocomplete.js"></script>

<style>
h2, h3
{
    margin-top: 0;
}
#left
{
    display: grid;
    grid-row-gap: 30px;
    grid-auto-rows: max-content;
}
#left > *
{
    background-color: var(--color_transparency);
    padding: 8px;
    border-radius: 5px;
}
#tag_metadata h2 .editor_input
{
    font-size: inherit;
    font-weight: inherit;
}
#description_text
{
    font-family: initial;
    padding: 8px;
}
#tag_list
{
    word-break: break-word;
}
#right
{
    display: grid;
    padding: 8px;
    background-color: var(--color_transparency);
}
#editor_area
{
    grid-area: editor_area;
    margin: auto;
}
#message_area
{
    grid-area: message_area;
}

@media screen and (min-width: 800px)
{
    #right
    {
        grid-template:
            "editor_area" 1fr
            "message_area" 1fr;
    }
}

@media screen and (max-width: 800px)
{
    #right
    {
        grid-template:
            "editor_area message_area" 1fr
            /1fr         minmax(50px, 200px);
    }
}
</style>
</head>

<body>
{{header.make_header(session=session)}}
<div id="content_body" class="sticky_side_right sticky_bottom_right">
    <div id="right">
        <div id="editor_area">
            <input type="text" id="add_tag_textbox" class="entry_with_history entry_with_tagname_replacements" autofocus>
            <button class="add_tag_button green_button" id="add_tag_button" onclick="return easybake_form();">bake</button>
        </div>
        <div id="message_area">
        </div>
    </div>
    <div id="left">
        {% if specific_tag %}
        {% do tags.remove((specific_tag.name, specific_tag)) %}
        <div id="hierarchy_self">
            <div id="tag_metadata">
                <h2><a
                    href="/search?tag_musts={{specific_tag.name}}"
                    id="name_text"
                    class="tag_object"
                    data-editor-id="name"
                    data-editor-placeholder="name"
                    >
                        {{-specific_tag.name-}}
                </a></h2>

                <pre
                id="description_text"
                data-editor-id="description"
                data-editor-placeholder="description"
                {% if specific_tag.description == "" %}class="hidden"{% endif -%}
                >
                    {{-specific_tag.description-}}
                </pre>
            </div>
            <button class="green_button editor_toolbox_placeholder">Edit</button>

            <button
            class="red_button button_with_confirm"
            data-onclick="return delete_specific_tag_form(event);"
            data-prompt="Delete Tag?"
            data-confirm="Delete"
            data-cancel-class="gray_button"
            >
            Delete
            </button>
        </div>

        {% set parents = specific_tag.get_parents() %}
        {% if parents %}
        <div id="hierarchy_parents">
            <h3>{{parents|length}} Parents</h3>
            <ul id="parent_list">
            {% for ancestor in specific_tag.get_parents() %}
            <li>
                {{tag_object.tag_object(ancestor, link="search_musts", innertext="(+)")}}
                {{tag_object.tag_object(ancestor, link="search_forbids", innertext="(x)")}}
                {{tag_object.tag_object(ancestor, link="info", innertext=ancestor.name, with_alt_description=True)}}
            </li>
            {% endfor %}
            </ul>
        </div>
        {% endif %} <!-- if parents -->
        {% endif %} <!-- if specific tag -->

        {% if tags or not specific_tag %}
        <div id="hierarchy_tags">
            {% if specific_tag %}
            <h3>{{tag_count}} Descendants</h3>
            {% else %}
            <h2>{{tag_count}} Tags</h2>
            {% endif %}
            <ul id="tag_list">
            {% for (qualified_name, tag) in tags %}
                <li>
                    {{tag_object.tag_object(tag, link="search_musts", innertext="(+)")}}
                    {{tag_object.tag_object(tag, link="search_forbids", innertext="(x)")}}
                    {{tag_object.tag_object(tag, link="info", innertext=qualified_name, with_alt_description=True)-}}
                    {% if '.' in qualified_name -%}
                    <button
                    class="remove_tag_button red_button button_with_confirm"
                    data-holder-class="confirm_holder_remove_child"
                    data-onclick="return remove_child_form(event);"
                    data-prompt="Unlink Tags?"
                    data-confirm="Unlink"
                    data-confirm-class="remove_tag_button_perm red_button"
                    data-cancel-class="remove_tag_button_perm gray_button"
                    >
                    Unlink
                    </button>
                    {%- else -%}
                    <button
                    class="remove_tag_button red_button button_with_confirm"
                    data-holder-class="confirm_holder_delete_tag"
                    data-onclick="return delete_tag_form(event);"
                    data-prompt="Delete Tag?"
                    data-confirm="Delete"
                    data-confirm-class="remove_tag_button_perm red_button"
                    data-cancel-class="remove_tag_button_perm gray_button"
                    >
                    Delete
                    </button>
                    {% endif %}
                </li>

                {% if include_synonyms %}
                {% for synonym in tag.get_synonyms()|sort %}
                <li>
                    {{-tag_object.tag_object(tag, link="search_musts", innertext="(+)")}}
                    {{tag_object.tag_object(tag, link="search_forbids", innertext="(x)")}}
                    {{tag_object.tag_object(tag, link='info', innertext=qualified_name + '+' + synonym)-}}
                    <button
                    class="remove_tag_button red_button button_with_confirm"
                    data-holder-class="confirm_holder_remove_synonym"
                    data-onclick="return remove_synonym_form(event);"
                    data-prompt="Remove Synonym?"
                    data-confirm="Remove"
                    data-confirm-class="remove_tag_button_perm red_button"
                    data-cancel-class="remove_tag_button_perm gray_button"
                    >
                    Remove
                    </button>
                </li>
                {% endfor %}
                {% endif %}
            {% endfor %}
            </ul>
        </div> <!-- hierarchy_tags -->
        {% endif %} <!-- if tags or not specific tag -->

        {% if specific_tag and include_synonyms %}
        {% set synonyms = specific_tag.get_synonyms() %}
        {% if synonyms %}
        <div id="hierarchy_synonyms">
            <h3>{{synonyms|length}} Synonyms</h3>
            <ul>
            {% for synonym in synonyms %}
            <li>
                {{tag_object.tag_object(specific_tag, link="search_musts", innertext="(+)")}}

                {{tag_object.tag_object(specific_tag, link="search_forbids", innertext="(x)")}}

                {{tag_object.tag_object(specific_tag, link=none, innertext=synonym)-}}
                <button
                class="remove_tag_button red_button button_with_confirm"
                data-onclick="return remove_specific_synonym_form(event);"
                data-prompt="Remove Synonym?"
                data-confirm="Remove"
                data-confirm-class="remove_tag_button_perm red_button"
                data-cancel-class="remove_tag_button_perm gray_button"
                >
                Remove
                </button>
            </li>
            {% endfor %}
            </ul>
        </div>
        {% endif %} <!-- if synonyms -->
        {% endif %} <!-- if specific tag and include synonyms -->
    </div>
</div>
</body>

<script type="text/javascript">
let SPECIFIC_TAG = "{{specific_tag.name}}";

const add_tag_textbox = document.getElementById('add_tag_textbox');
const add_tag_button = document.getElementById('add_tag_button');
const message_area = document.getElementById('message_area');
common.bind_box_to_button(add_tag_textbox, add_tag_button, false);

function tag_object_from_li(li)
{
    const tag_objects = li.getElementsByClassName("tag_object");
    return tag_objects[tag_objects.length - 1];
}

function easybake_form()
{
    const easybake_string = add_tag_textbox.value;
    if (easybake_string === "")
    {
        add_tag_textbox.focus();
        return;
    }
    api.tags.easybake(easybake_string, tag_action_callback);
    add_tag_textbox.value = "";
}

function delete_specific_tag_form(event)
{
    const delete_button = event.target;
    const hierarchy_self = delete_button.closest("#hierarchy_self");
    const tag_object = tag_object_from_li(hierarchy_self);
    const tag_name = tag_object.innerText;
    return api.tags.delete(tag_name, api.tags.callback_go_to_tags);
}

function delete_tag_form(event)
{
    const delete_button = event.target;
    const li = delete_button.closest("li");
    const tag_object = tag_object_from_li(li);
    const tag_name = tag_object.innerText.split(".").pop();
    return api.tags.delete(tag_name, tag_action_callback);
}

function remove_child_form(event)
{
    const delete_button = event.target;
    const li = delete_button.closest("li");
    const tag_object = tag_object_from_li(li);
    const parts = tag_object.innerText.split(".");
    const tag_name = parts.pop();
    const parent_name = parts.pop();
    return api.tags.remove_child(parent_name, tag_name, tag_action_callback);
}

function remove_specific_synonym_form(event)
{
    const delete_button = event.target;
    const li = delete_button.closest("li");
    const tag_object = tag_object_from_li(li);
    const synonym = tag_object.innerText;
    return api.tags.remove_synonym(SPECIFIC_TAG, synonym, tag_action_callback);
}

function remove_synonym_form(event)
{
    const delete_button = event.target;
    const li = delete_button.closest("li");
    const tag_object = tag_object_from_li(li);
    const parts = tag_object.innerText.split(".").pop().split("+");
    const synonym = parts.pop();
    const tag_name = parts.pop();
    return api.tags.remove_synonym(tag_name, synonym, tag_action_callback);
}

function tag_action_callback(response)
{
    let datas = response.data;
    if (!Array.isArray(datas))
    {
        datas = [datas];
    }
    for (const data of datas)
    {
        const tagname = data.tagname;
        let message_positivity;
        let message_text;
        if ("error_type" in data)
        {
            message_positivity = "message_negative";
            message_text = data.error_message;
        }
        else if ("action" in data)
        {
            const action = data.action;
            message_positivity = "message_positive";
            if (action == "new_tag")
            {message_text = `Created tag ${tagname}`;}

            else if (action == "new_synonym")
            {message_text = `New synonym ${tagname}`;}

            else if (action == "existing_tag")
            {message_text = `Existing tag ${tagname}`;}

            else if (action == "join_group")
            {message_text = `Grouped ${tagname}`;}

            else if (action == "rename_tag")
            {message_text = `Renamed ${tagname}`;}

            else if (action == "delete_tag")
            {message_text = `Deleted tag ${tagname}`;}

            else if (action == "delete_synonym")
            {message_text = `Deleted synonym ${data.synonym}`;}

            else if (action == "remove_child")
            {message_text = `Unlinked tags ${tagname}`;}
        }
        common.create_message_bubble(message_area, message_positivity, message_text, 8000);
    }
}

{% if specific_tag is not none %}
function on_open(ed, edit_element_map)
{
    ed.open();
    edit_element_map["name"].focus();
}

function on_save(ed, edit_element_map, display_element_map)
{
    function callback(response)
    {
        console.log(response);
        ed.hide_spinner();
        if (response.meta.status == 200)
        {
            const new_name = response.data.name;
            const new_description = response.data.description;
            document.title = new_name + " | Tags";
            SPECIFIC_TAG = new_name;
            window.history.replaceState(null, null, "/tag/" + new_name);
            name_editor.value = new_name;
            name_display.href = "/search?tag_musts=" + new_name;
            description_editor.value = new_description;
            ed.save();
            if (new_description === "")
            {
                description_display.classList.add("hidden");
            }
        }
    }

    const name_display = display_element_map["name"];
    const name_editor = edit_element_map["name"];
    const description_display = display_element_map["description"];
    const description_editor = edit_element_map["description"];

    const tag_name = name_display.innerText;
    const new_name = name_editor.value;
    const new_description = description_editor.value;

    ed.show_spinner();
    api.tags.edit(tag_name, new_name, new_description, callback)
}

function on_cancel(ed, edit_element_map, display_element_map)
{
    ed.cancel();
    if (display_element_map["description"].innerText == "")
    {
        display_element_map["description"].classList.add("hidden");
    }
}

const name_text = document.getElementById("name_text");
const description_text = document.getElementById("description_text");
const ed = new editor.Editor([name_text, description_text], on_open, on_save, on_cancel);
{% endif %}
</script>
</html>
