<!DOCTYPE html5>
<html>
<head>
    {% import "header.html" as header %}
    {% import "tag_object.html" as tag_object %}
    {% if specific_tag is none %}
        <title>Tags</title>
    {% else %}
        <title>{{specific_tag.name}} | Tags</title>
    {% endif %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/static/css/common.css">
    {% if theme %}<link rel="stylesheet" href="/static/css/theme_{{theme}}.css">{% endif %}
    <script src="/static/js/common.js"></script>
    <script src="/static/js/api.js"></script>
    <script src="/static/js/spinner.js"></script>
    <script src="/static/js/editor.js"></script>

<style>
h2, h3
{
    margin-top: 0;
}
#left
{
    display: grid;
    grid-row-gap: 30px;
    grid-auto-rows: max-content;
}
#left > *
{
    background-color: var(--color_site_transparency);
    padding: 8px;
    border-radius: 5px;
}
#tag_metadata h2 .editor_input
{
    font-size: inherit;
    font-weight: inherit;
}
#description_text
{
    font-family: initial;
    padding: 8px;
}
#tag_list
{
    word-break: break-word;
}
#right
{
    grid-template:
        "editor_area" 1fr
        "message_area" 1fr;
}
#editor_area
{
    grid-area: editor_area;
    margin: auto;
}
#message_area
{
    grid-area: message_area;
}
@media screen and (max-width: 800px)
{
    #content_body
    {
        grid-template:
            "left" 1fr
            "right" 150px
            / 1fr !important;
    }
    #right
    {
        top: unset !important;
        width: unset !important;
        left: 8px;
        right: 8px;
        bottom: 8px;
        height: 150px;

        grid-template:
            "editor_area message_area" 1fr
            /1fr         minmax(50px, 200px);
    }
}
</style>
</head>


<body>
{{header.make_header(session=session)}}
<div id="content_body" class="sticky_side_right">
    <div id="right">
        <div id="editor_area">
            <input type="text" id="add_tag_textbox" autofocus>
            <button class="add_tag_button green_button" id="add_tag_button" onclick="easybake_form();">bake</button>
        </div>
        <div id="message_area">
        </div>
    </div>
    <div id="left">
        {% if specific_tag %}
        {% do tags.remove((specific_tag.name, specific_tag)) %}
        <div id="hierarchy_self">
            <div id="tag_metadata">
                <h2><a
                    href="/search?tag_musts={{specific_tag.name}}"
                    id="name_text"
                    data-editor-id="name"
                    data-editor-placeholder="name"
                    >
                        {{-specific_tag.name-}}
                </a></h2>

                <pre
                id="description_text"
                data-editor-id="description"
                data-editor-placeholder="description"
                {% if specific_tag.description == "" %}class="hidden"{% endif -%}
                >
                    {{-specific_tag.description-}}
                </pre>
            </div>
            <button class="green_button editor_toolbox_placeholder">Edit</button>

            <button
            class="red_button button_with_confirm"
            data-onclick="api.tags.delete('{{specific_tag.name}}', api.tags.callback_go_to_tags);"
            data-prompt="Delete Tag?"
            data-confirm="Delete"
            data-confirm-class="red_button"
            data-cancel-class="gray_button"
            >
            Delete
            </button>

        </div>

        {% set parents = specific_tag.get_parents() %}
        {% if parents %}
        <div id="hierarchy_parents">
            <h3>Parents</h3>
            <ul id="parent_list">
            {% for ancestor in specific_tag.get_parents() %}
            <li>
                {{tag_object.tag_object(ancestor, innertext='(?)', link='info')}}
                {{tag_object.tag_object(ancestor, innertext=ancestor.name, link=none, with_alt_description=True)}}
            </li>
            {% endfor %}
            </ul>
        </div>
        {% endif %}

        {% set tag_list_header = "<h3>Children</h3>" %}
        {% else %}
        {% set tag_list_header = "<h2>Tags</h2>" %}
        {% endif %}

        {% if tags or not specific_tag %}
        <div id="hierarchy_tags">
            {{ tag_list_header | safe }}
            <ul id="tag_list">
            {% for (qualified_name, tag) in tags %}
                {% if "." in qualified_name %}
                <li>
                    {{tag_object.tag_object(tag, link='info', innertext='(?)')}}
                    {{tag_object.tag_object(tag, link='search', innertext=qualified_name, with_alt_description=True)-}}
                    <button
                    class="remove_tag_button red_button button_with_confirm"
                    data-onclick="api.tags.remove_child('{{qualified_name.split('.')[-2]}}', '{{tag.name}}', tag_action_callback);"
                    data-prompt="Unlink Tags?"
                    data-confirm="Unlink"
                    data-confirm-class="remove_tag_button_perm red_button"
                    data-cancel-class="remove_tag_button_perm gray_button"
                    >
                    Unlink
                    </button>
                </li>
                {% else %}
                <li>
                    {{tag_object.tag_object(tag, link='info', innertext='(?)')}}
                    {{tag_object.tag_object(tag, link='search', innertext=qualified_name, with_alt_description=True)-}}
                    <button
                    class="remove_tag_button red_button button_with_confirm"
                    data-onclick="api.tags.delete('{{qualified_name}}', tag_action_callback);"
                    data-prompt="Delete Tag?"
                    data-confirm="Delete"
                    data-confirm-class="remove_tag_button_perm red_button"
                    data-cancel-class="remove_tag_button_perm gray_button"
                    >
                    Delete
                    </button>
                </li>
                {% endif %}

                {% if include_synonyms %}
                {% for synonym in tag.get_synonyms() %}
                <li>
                    {{tag_object.tag_object(tag, link=none, innertext='syn')}}
                    {{tag_object.tag_object(tag, link='search', innertext=qualified_name + '+' + synonym)-}}
                    <button
                    class="remove_tag_button red_button button_with_confirm"
                    data-onclick="api.tags.remove_synonym('{{tag.name}}', '{{synonym}}', tag_action_callback);"
                    data-prompt="Remove Synonym?"
                    data-confirm="Remove"
                    data-confirm-class="remove_tag_button_perm red_button"
                    data-cancel-class="remove_tag_button_perm gray_button"
                    >
                    Remove
                    </button>
                </li>
                {% endfor %}
                {% endif %}
            {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>
</div>
</body>


<script type="text/javascript">
var add_tag_textbox = document.getElementById('add_tag_textbox');
var add_tag_button = document.getElementById('add_tag_button');
var message_area = document.getElementById('message_area');
add_tag_textbox.addEventListener("keyup", common.entry_with_history_hook);
add_tag_textbox.addEventListener("keyup", common.entry_with_tagname_replacements);
common.bind_box_to_button(add_tag_textbox, add_tag_button, false);

function easybake_form()
{
    var easybake_string = add_tag_textbox.value;
    if (easybake_string === "")
    {
        add_tag_textbox.focus();
        return;
    }
    api.tags.easybake(easybake_string, tag_action_callback);
    add_tag_textbox.value = "";
}

function tag_action_callback(response)
{
    responses = response["data"];
    if (!(responses instanceof Array))
    {
        responses = [responses];
    }
    for (var index = 0; index < responses.length; index += 1)
    {
        var response = responses[index];
        var tagname = response["tagname"];
        var message_positivity;
        var message_text;
        if ("error_type" in response)
        {
            message_positivity = "message_negative";
            message_text = response["error_message"];
        }
        else if ("action" in response)
        {
            var action = response["action"];
            message_positivity = "message_positive";
            if (action == "new_tag")
            {message_text = `Created tag ${tagname}`;}

            else if (action == "new_synonym")
            {message_text = `New synonym ${tagname}`;}

            else if (action == "existing_tag")
            {message_text = `Existing tag ${tagname}`;}

            else if (action == "join_group")
            {message_text = `Grouped ${tagname}`;}

            else if (action == "rename_tag")
            {message_text = `Renamed ${tagname}`;}

            else if (action == "delete_tag")
            {message_text = `Deleted tag ${tagname}`;}

            else if (action == "delete_synonym")
            {message_text = `Deleted synonym ${response["synonym"]}`;}

            else if (action == "remove_child")
            {message_text = `Unlinked tags ${tagname}`;}

        }
        common.create_message_bubble(message_area, message_positivity, message_text, 8000);
    }
}

{% if specific_tag is not none %}
function on_open(ed, edit_element_map)
{
    ed.open();
    edit_element_map["name"].focus();
}

function on_save(ed, edit_element_map, display_element_map)
{
    function callback(response)
    {
        console.log(response);
        ed.hide_spinner();
        if (response["meta"]["status"] == 200)
        {
            var new_name = response["data"]["name"];
            var new_description = response["data"]["description"];
            document.title = new_name + " | Tags";
            window.history.replaceState(null, null, "/tag/" + new_name);
            name_editor.value = new_name;
            name_display.href = "/search?tag_musts=" + new_name;
            description_editor.value = new_description;
            ed.save();
            if (new_description === "")
            {
                description_display.classList.add("hidden");
            }
        }
    }

    var name_display = display_element_map["name"];
    var name_editor = edit_element_map["name"];
    var description_display = display_element_map["description"];
    var description_editor = edit_element_map["description"];

    var tag_name = name_display.innerText;
    var name = name_editor.value;
    var description = description_editor.value;

    ed.show_spinner();
    api.tags.edit(tag_name, name, description, callback)
}

function on_cancel(ed, edit_element_map, display_element_map)
{
    ed.cancel();
    if (display_element_map["description"].innerText == "")
    {
        display_element_map["description"].classList.add("hidden");
    }
}

var name_text = document.getElementById("name_text");
var description_text = document.getElementById("description_text");
var ed = new editor.Editor([name_text, description_text], on_open, on_save, on_cancel);
{% endif %}
</script>
</html>
