<!DOCTYPE html5>
<html>
<head>
    {% import "header.html" as header %}
    <title>Flasksite</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/etiquette.css">
    {% if theme %}<link rel="stylesheet" href="/static/css/theme_{{theme}}.css">{% endif %}
    <script src="/static/js/common.js"></script>
    <script src="/static/js/api.js"></script>

<style>
</style>
</head>

<body>
    {{header.make_header(session=session)}}
    <div id="content_body">
        <p>test</p>
    </div>
</body>

<script type="text/javascript">
</script>
</html>
