<!DOCTYPE html5>
<html>
<head>
    {% import "header.html" as header %}
    <title>{{user.display_name}}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/etiquette.css">
    {% if theme %}<link rel="stylesheet" href="/static/css/theme_{{theme}}.css">{% endif %}
    <script src="/static/js/common.js"></script>
    <script src="/static/js/api.js"></script>

<style>
#content_body
{
    /* overriding common.css here */
    display: block;
}
</style>
</head>

<body>
    {{header.make_header(session=session)}}
    <div id="content_body">
        <h2>{{user.display_name}}</h2>
        <p>ID: <a href="/userid/{{user.id}}">{{user.id}}</a></p>
        <p>User since <span title="{{user.created|int|timestamp_to_8601}}">{{user.created|timestamp_to_naturaldate}}.</span></p>
        <p><a href="/search?author={{user.username}}">Photos by {{user.display_name}}</a></p>
    </div>
</body>

<script type="text/javascript">
</script>
</html>
