<!DOCTYPE html5>
<html>
<head>
    {% import "header.html" as header %}
    <title>User {{user.display_name}}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/static/css/common.css">

<style>
#content_body
{
    /* overriding common.css here */
    display: block;
}
</style>
</head>


<body>
    {{header.make_header(session=session)}}
    <div id="content_body">
        <h2>{{user.display_name}}</h2>
        <p>ID: {{user.id}}</p>
        <p title="{{user.created|int|timestamp_to_8601}}">User since {{user.created|timestamp_to_naturaldate}}.</p>
        <p><a href="/search?author={{user.username}}">Photos by {{user.display_name}}</a></p>
    </div>
</body>


<script type="text/javascript">
</script>
</html>
