{% set thumbnails =
    {
        "audio": "audio",
        "txt": "txt",
        "svg": "svg",
        "video": "video",

        "7z": "archive",
        "gz": "archive",
        "rar": "archive",
        "tar": "archive",
        "zip": "archive",
    }
%}
{% macro create_photo_card(photo, view="grid") %}

{% if view == "list" %}
<div class="photo_card_list">
    <a target="_blank" href="/photo/{{photo.id}}">{{photo.basename}}</a>
</div>

{% else %}
<div class="photo_card_grid">
    <div class="photo_card_grid_thumb">
        <a target="_blank" href="/photo/{{photo.id}}">
            <img height="150"
            {% if photo.thumbnail %}
                src="/thumbnail/{{photo.id}}.jpg"
            {% else %}
                {% set choice =
                    thumbnails.get(photo.extension,
                    thumbnails.get(photo.mimetype,
                    'other'))
                %}
                src="/static/basic_thumbnails/{{choice}}.png"
            {% endif %}
        </a>
    </div>
    <div class="photo_card_grid_info">
        <a target="_blank" class="photo_card_grid_filename" href="/photo/{{photo.id}}">{{photo.basename}}</a>
        <span class="photo_card_grid_file_metadata">
        {% if photo.width %}
            {{photo.width}}x{{photo.height}},
        {% endif %}
        {% if photo.duration %}
            {{photo.duration_string()}},
        {% endif %}
        {{photo.bytestring()}}
        </span>
        <span class="photo_card_grid_tags">
            {% set tags = photo.tags() %}
            {% set tag_names = [] %}
            {% for tag in tags %}
            {% do tag_names.append(tag.name) %}
            {% endfor %}
            {% if tags %}
                <span title="{{", ".join(tag_names)}}">T</span>
            {% endif %}
        </span>
    </div>
</div>
{% endif %}
{% endmacro %}
