<!DOCTYPE html5>
<html>
<head>
    <title>Etiquette</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/common.css">

<style>
body, a
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
a
{
    width: 50%;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.1);
    margin: 8px;
}
a:hover
{
    background-color: #ffffd4;
}
</style>
</head>


<body>
    <span>{{motd}}</span>
    <a href="/search">Search</a>
    <a href="/tags">Browse tags</a>
    <a href="/albums">Browse albums</a>
    <a href="/bookmarks">Bookmarks</a>
    {% if session %}
    <a href="/user/{{session.user.username}}">{{session.user.username}}</a>
    {% else %}
    <a href="/login">Log in</a>
    {% endif %}
</body>


<script type="text/javascript">
</script>
</html>
